/* font */

.font-nanum-pen {
  font-family: nanum pen script;
}

/* size */

.typography-display-large {
  font-size: 57px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.typography-display-medium {
  font-size: 45px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
}

.typography-display-small {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
}

.typography-headline-large {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
}

.typography-headline-medium {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0;
}

.typography-headline-small {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}

.typography-title-large {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

.typography-title-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.typography-title-small {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.typography-body-large {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.typography-body-medium {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.typography-body-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography-label-large {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.typography-label-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.typography-body-small {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}
